{% extends 'base.html' %}
{% block header %}
    <h2>{% block title %}Recursos {% endblock %}</h2>
    {% if g.user and g.user.role in ['instructor_profesores', 'instructor_estudiantes'] %}
        <div class="post-links">
            <a href="{{ url_for('blog.create') }}" class="new-post">Nueva Publicación</a>
        </div>
    {% endif%}
{% endblock %}

{% block content %}

{% for post in posts %}
    {% if get_user(post.author) %} {# Solo mostrar si el usuario tiene permiso para ver este recurso #}
        <article>
            <header>
                <div>
                    <h1>{{ post.title }}</h1>
                    <div class="about">
                        Publicado por {{ get_user(post.author).username }}
                        el {{ post.created.strftime('%Y-%m-%d') }}
                    </div>
                </div>
                <div>
                    {% if g.user and g.user.role in ['instructor_profesores', 'instructor_estudiantes'] and g.user.id == post.author %}
                        <div class="post-links">
                            <a href="{{ url_for('blog.update', id=post.id) }}" class="edit">Editar</a>
                            <a href="{{ url_for('blog.delete', id=post.id) }}" class="delete">Eliminar</a>
                        </div>
                    {% endif %}
                </div>
            </header>
            <div>
                <p>{{ post.body }}</p>
            </div>
        </article>
    {% endif %}
{% endfor %}

{% endblock %}