<!DOCTYPE html>
<html lang="es">
<head>
    <script>
        // Aplicar dark mode antes de que la página cargue
        if (localStorage.getItem("darkMode") === "enabled") {
            document.documentElement.classList.add("dark-mode");
        }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/blog.ico')}}" type="image/x-icon">
    
    <title>{% block title %}{% endblock %}- STEM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <header class="header">
        <div class="nav">
            <div>
                <a href="{{ url_for('blog.index') }}">
                <h1>STEM PLATAFORM</h1>  
                </a>
            </div>
            <nav class="user-info">
                {% if g.user %}
                    <img src="{{ url_for('static', filename='img/user.png')}}" alt="">
                    <span>{{ g.user.username }}</span>
                    <a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
                {% else %}
                    <a href="{{ url_for('auth.register') }}">Registrar Usuario</a>
                    <a href="{{ url_for('auth.login') }}">Iniciar Sesión</a>
                {% endif %}
            
                <button id="dark-mode-toggle">
                    <img id="dark-mode-icon" src="{{ url_for('static', filename='img/moon.png') }}" alt="Modo Oscuro" width="24">
                </button>

            </nav>            
        </div>
        
    </header>

    <section>
        <div class="content">
            <header>{% block header %}{% endblock %}</header>

            {% for message in get_flashed_messages() %}
            <div class="flash"> {{ message }}</div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
        
    </section>
    <script src="{{ url_for('static', filename='js/dark_mode.js') }}"></script>
</body>
</html>