{% extends 'base.html' %}
{% block header %}
    <h2>{% block title %}Registrar usuario {% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="username">Nombre de usuario</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        
        <label for="role">Selecciona tu rol</label>
        <select name="role" id="role" required>
            <option value="instructor_profesores">Instructor de Profesores</option>
            <option value="instructor_estudiantes">Instructor de Estudiantes</option>
            <option value="profesor">Profesor</option>
            <option value="estudiante">Estudiante</option>
        </select>
        
        <input type="submit", value="Registrar">
    </form>
{% endblock %}
